$icons: (
  "snowflake": "\a001",
  "unity": "\a002",
  "monster": "\a000",
  "airplane": "\a003",
  "brightness": "\a004",
  "chair-school": "\a005",
  "chart": "\a006",
  "chevron": "\a007",
  "close": "\a008",
  "cube": "\a009",
  "duck": "\a010",
  "color": "\a011",
  "github": "\a012",
  "home": "\a013",
  "linkedin": "\a014",
  "minus": "\a015",
  "palette": "\a016",
  "plus": "\a017",
  "robot": "\a018",
  "boat": "\a019",
  "cog": "\a020",
  "rocket": "\a021",
  "leaf": "\a022",
  "book": "\a023",
  "css3": "\a024",
  "movie": "\a025",
  "gps-fixed": "\a026",
  "list": "\a027",
  "collections": "\a028",
  "rotate-left": "\a029",
  "rotate-right": "\a030",
  "bus": "\a031",
  "car": "\a032",
  "category": "\a033",
  "person": "\a034",
  "move": "\a035",
  "search": "\a036",
  "swap": "\a037",
  "rotate": "\a038",
  "medical": "\a039",
  "window": "\a040",
);

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?xgiqmc");
  src: url("../fonts/icomoon.eot?xgiqmc#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?xgiqmc") format("truetype"), url("../fonts/icomoon.woff?xgiqmc") format("woff"),
    url("../fonts/icomoon.svg?xgiqmc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    display: inline-block;
  }

  &.left:before {
    transform: rotate(90deg);
  }

  &.up:before {
    transform: rotate(180deg);
  }

  &.right:before {
    transform: rotate(270deg);
  }

  @each $name, $value in $icons {
    &.#{$name}:before {
      content: $value;
    }
  }
}

@function g-icon($key){
  @return map-get($icons, $key);
}
