$icons: (
  "css3": "\e908",
  "movie": "\e907",
  "gps-fixed": "\e905",
  "format_list_bulleted": "\e90c",
  "collections": "\e901",
  "chevron-left": "\e903",
  "chevron-right": "\e904",
  "directions_bus": "\e909",
  "directions_car": "\e90d",
  "open-with": "\e902",
  "search": "\e906",
  "medical_services": "\e90a",
  "sensor_window": "\e90b",
  "monster": "\e900",
  "airplane": "\f001d",
  "brightness-4": "\f00dd",
  "chart-areaspline": "\f0127",
  "chevron-down": "\f0140",
  "chevron-up": "\f0143",
  "close": "\f0156",
  "cube-outline": "\f01a7",
  "duck": "\f01e5",
  "format-color-fill": "\f0266",
  "github": "\f02a4",
  "home": "\f02dc",
  "linkedin": "\f033b",
  "minus": "\f0374",
  "palette": "\f03d8",
  "plus": "\f0415",
  "robot-industrial": "\f0b46",
  "sail-boat": "\f0ec8",
  "cog-transfer-outline": "\f105c",
  "rocket-launch": "\f14de",
  "chair-school": "\f0125",
  "person": "\e90e",
  "book": "\e90f",
  "snowflake": "\e912",
  "unity": "\e910",
  "leaf": "\e911",
);

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?xgiqmc");
  src: url("../fonts/icomoon.eot?xgiqmc#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?xgiqmc") format("truetype"), url("../fonts/icomoon.woff?xgiqmc") format("woff"),
    url("../fonts/icomoon.svg?xgiqmc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.mdi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @each $name, $value in $icons {
    &-#{$name}:before {
      content: $value;
    }
  }
}
